@use 'app/styles/helpers' as *;

.card {
  border-radius: $radius-md;
  background-color: var(--color-bg-surface);
  background: var(--color-bg-surface);
  padding: $space-5;
  box-shadow: var(--shadow-card);
}

.card_flat {
  border: 1px solid transparent;
}

.card_outlined {
  border: 1px solid var(--color-border-primary);
}
