.badge {
  display: inline-flex;
  align-items: center;
  width: fit-content;
}

.badge_default {
  color: inherit;
}

.badge_success {
  color: inherit;
}

.badge_warning {
  color: inherit;
}

.badge_danger {
  color: inherit;
}

.badge_info {
  color: inherit;
}
